
  #container-quick-links-footer {
    display: flex;
    gap: 40px;
    white-space: nowrap;
  }
  
  #container-developers-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-height: 1000px;
  }
  
  .container-developers-columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container-developers-columns a {
    text-decoration: none;
    color: black;
  }
  @media screen and (max-width: 1000px) {
    #container-developers-footer {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 200px;
    }
  }
  
  @media screen and (max-width: 600px) {
    #container-developers-footer {
      padding-left: 50px;
    }
  }
  