.profile-follow-button {
    margin-top: 8px;
    border: none;
    padding: 6px;
    background-color: rgba(254, 212, 4, 255);
    border-radius: 7px;

}
.profile-follow-button:hover {
    cursor: pointer;
    color: white;
}

.mid {
    /* border:  2px rebeccapurple solid; */
    width: 100%;
    /* margin-left: 20%; */
}
/* #feed-mid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */