* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
  }
  body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/7c437491643371.5e3789ca6ce29.gif');
    background-size: cover; /* 使背景图片覆盖整个视口 */
    background-attachment: fixed; /* 背景固定，不随内容滚动 */
    background-repeat: no-repeat; /* 不重复背景图片 */
    height: 100vh; /* 设置高度为视口高度 */
    margin: 0; /* 去除默认 margin */
    overflow: hidden; /* 隐藏溢出内容 */
}
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 确保容器宽度为 100% */
    min-height: 100vh; /* 确保容器最小高度为视口高度 */
  }
  .main-content {
    display: flex;
    margin-top: 100px;
    width: 30%;
    text-align: center;
    justify-content: space-between;
    max-height: 1000px; 
    overflow: auto; 
    z-index: 3000;
    /* border: 2px yellow solid; */
    position: relative;
  }
  .feed {
    width: 55%;
    padding: 20px;
    /* border: #ff4500 2px solid; */
    /* padding-bottom: 180px; */
  }
  .sidebar {
    width: 25%;
    background-color: #f8f9fa;
    margin-top: 20px;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-radius: 7px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    /* border: purple 2px solid; */
  }
  .right-column {
    width: 25%;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-radius: 7px;
    position: sticky;
    top: 0;
    /* border: orange 2px solid; */
  }
  .post {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }